---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- Display conference papers -->
<h2>Conference Papers</h2><hr />
<ul>
  <li>
    <b>PEAC: Unsupervised Pre-training for Cross-Embodiment Reinforcement Learning</b>  
    <br/>
    <i>Xuezhou Xu</i>, et al.  
    <br/>
    Published in NeurIPS 2024.  
    <a href="https://yingchengyang.github.io/ceurl" target="_blank">[Paper]</a>  
    <a href="https://github.com/yingchengyang/ceurl" target="_blank">[Code]</a>  
    <a href="https://yingchengyang.github.io/ceurl" target="_blank">[Project]</a>
  </li>
  <br/>
  <li>
    <b>ManiBox: Enhancing Spatial Grasping Generation via Scalable Simulation Data Generation</b>  
    <br/>
    <i>Xuezhou Xu</i>, et al.  
    <br/>
    Under review, 2024.  
    <a href="https://thkkk.github.io/manibox" target="_blank">[Paper]</a>  
    <a href="https://github.com/thkkk/manibox" target="_blank">[Code]</a>  
    <a href="https://thkkk.github.io/manibox" target="_blank">[Project]</a>
  </li>
</ul>
